<div class="container">
    <h3>All Staff Member's List</h3><br>
    <div class="row">
        <input *ngIf="checkadmin" class="form-control col-3" type="text" [(ngModel)]="value"
            placeholder="Enter branch id" aria-label="Search">
        <input *ngIf="!checkadmin" class="form-control col-3" type="text" [(ngModel)]="searchString"
            placeholder="Enter staff name">
        <div class="col-5"></div>
        <button class="set col-3 btn btn-success align-right" [routerLink]="['/adduser']">Add Staff</button>
    </div><br>

    <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Branch Id</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of allstaff | staffList:value | filtername:searchString">
                    <td>{{r.id}}</td>
                    <td>{{r.name}}</td>
                    <td>{{r.email}}</td>
                    <td>{{r.role}}</td>
                    <td>{{r.branch.id}}</td>
                    <td><button class="btn btn-primary" type="button" [routerLink]="['/edituser',r.id]">Update</button>
                    </td>
                    <td><button class="btn btn-danger" type="button" (click)="deleteStaff(r.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>