<div class="container">
    <p>edit Food!</p>
    <form #edit="ngForm" (ngSubmit)="editFood(edit)">
        <div class="form-group">
            <input type="text" class="form-control" ngModel id="name" name="name" #name="ngModel"
                [(ngModel)]="selectedFood.name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ngModel id="price" name="price" #price="ngModel"
                [(ngModel)]="selectedFood.price">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ngModel id="category" name="category" #category="ngModel"
                [(ngModel)]="selectedFood.category">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ngModel id="description" name="description" #description="ngModel"
                [(ngModel)]="selectedFood.description">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ngModel id="type" name="type" #type="ngModel"
                [(ngModel)]="selectedFood.type">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ngModel id="availability" name="availability"
                #availability="ngModel" [(ngModel)]="selectedFood.availability">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>