<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FoodApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="adduser" class="nav-link" href="#">Register </a>
      </li>
      <li *ngIf="!isstaff()" class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          List
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngIf="!isBM()" routerLink="branchlist" class="dropdown-item" href="#">Branch List</a>
          <a *ngIf="!isBM()" routerLink="branchmanagerlist" class="dropdown-item" href="#">Branch manager List</a>
          <a routerLink="stafflist" class="dropdown-item">Staff List</a>
        </div>
      </li>
      <li class="nav-item active">
        <a routerLink="menu" class="nav-link" href="#">Menu </a>
      </li>
      <li class="nav-item active">
        <a routerLink="food" class="nav-link">Food</a>
      </li>
      <li class="nav-item active">
        <a routerLink="orders" class="nav-link" href="#">Orders </a>
      </li>
    </ul>
    <button *ngIf="isLoggedout()" routerLink="loginuser">Login</button>
    <button *ngIf="isLoggedin()" (click)="logOut()">Logout</button>
  </div>
</nav>
<router-outlet></router-outlet>