<div class="container">
    <h3>Edit Oder!</h3><br>
    <form #edit="ngForm" (ngSubmit)="edit.form.valid && editOrder(edit)">
        <div class="form-group">
            <label>Update customer name</label>
            <input type="text" class="form-control" ngModel id="name" name="name" #name="ngModel"
                [(ngModel)]="selectedOrder.name" required>
            <div *ngIf="(edit.submitted || name.invalid && name.touched) && name.errors" style="color: red;">
                <div *ngIf="name.errors['required']"><sup>*</sup>name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Update customer phone number</label>
            <input type="number" class="form-control" ngModel id="phone" name="phone" #phone="ngModel"
                [(ngModel)]="selectedOrder.phone" required>
            <div *ngIf="(edit.submitted || phone.invalid && phone.touched) && phone.errors" style="color: red;">
                <div *ngIf="phone.errors['required']"><sup>*</sup>phone is required</div>
            </div>
        </div>
        <div class="form-group">
            <select class="form-control" ngModel id="status" name="status" #status="ngModel"
                [(ngModel)]="selectedOrder.status" required>
                <option disabled selected value>Select status</option>
                <option>Order Placed</option>
                <option>Order Prepairing</option>
                <option>Order Delivered</option>
            </select>
            <div *ngIf="(edit.submitted || status.invalid && status.touched) && status.errors" style="color: red;">
                <div *ngIf="status.errors['required']"><sup>*</sup>status is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Update order foods</label>
            <div class="dropdown">
                <ng-multiselect-dropdown ngModel id="foods" name="foods" #foods="ngModel"
                    [placeholder]="'custom placeholder'" [settings]="dropdownSettings" [data]="dropdownList"
                    [(ngModel)]="selectedItems" required>
                </ng-multiselect-dropdown>
            </div>
            <div *ngIf="(edit.submitted || foods.invalid && foods.touched) && foods.errors" style="color: red;">
                <div *ngIf="foods.errors['required']"><sup>*</sup>foods is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="checkadmin">
            <select class="form-control form-control-sm" ngModel id="branch" name="branch" #branch="ngModel"
                [(ngModel)]="selectedOrder.branch.id" required>
                <option disabled selected value>Update order Branch</option>
                <option *ngFor="let r of list.t" value={{r.id}}>{{r.id}}. {{r.name}}, {{r.city}}</option>
            </select>
            <div *ngIf="(edit.submitted || branch.invalid && branch.touched) && branch.errors" style="color: red;">
                <div *ngIf="branch.errors['required']"><sup>*</sup>branch is required</div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>