.image {
    width: 100%;
    max-height: 92.2vh;
    height: auto;
    position: absolute;
    z-index:-1;
    object-fit: fill;
}

.layout{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 150px;

    background-color: #F5F5F5;
}

.outer{
    padding: 50px;
    text-align: center;
    font-size: 36px;
}

.inner{
    
    font-size: 25px;
}

